.quiz{
    text-align: center;
}
.question-section{
    background-color: grey;
    padding: 16px;
    width: 80%;
    height: auto;
    margin: 0 auto;
    border-radius: 16px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    color: white;
}
.question-section ul{
    list-style: none;
}
.question-section li{
    background-color: darkgray;
    padding: 16px;
    border: 3px solid rgb(97, 95, 95);
    border-radius: 10px;
    font-size: 20px;
    margin-top: 8px;
}
.question-text{
    color: rgb(0, 49, 105);
    font-size: 30px;
}
.final-results{
    background-color: grey;
    padding: 16px;
    width: 50%;
    height: auto;
    margin: 0 auto;
    border-radius: 16px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    color: white;
}
.final-results .btn2{
    margin-left: 20px;
}
.quiz h2{
    font-size: 16px;
}
.question-type{
    width: 300px;
    padding: 10px;
    color: white;
    margin-left: 150px;
    background-color: #a40606;
    background-image: linear-gradient(315deg, #a40606 0%, #d98324 74%);
    border-radius: 10px;
}
.oneword-answer{
    margin: 10px;
    padding: 10px;
    width: 400px;
    border-radius: 10px;
    color: black;
}